<%- include("partials/header") %>

<title>Bot Stats » <%= bot.user.username %> Dashboard</title>
<link rel="stylesheet" href="/css/table.css">

<div class="bg-light text-dark has-text-centered" style="padding-top: 45px;">
    <div class="p-5">
        <div class="container">
          <h2 class="is-size-2 has-text-white">Bot Statistics</h2>
        </div>
    </div>
</div>

<div class="table-wrapper">
  <center>
    <table class="fl-table">
    <thead>
        <tr>
          <th>Type</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><i class="fas fa-users"></i> Users</td>
            <td><%= bot.users.cache.size || 0 %></td>
          </tr>
          <tr>
            <td><i class="fas fa-server"></i> Servers</td>
            <td><%= bot.guilds.cache.size || 0 %></td>
          </tr>
          <tr>
            <td><i class="fas fa-laugh"></i> Emojis</td>
            <td><%= bot.emojis.cache.size || 0 %> (<%= bot.emojis.cache.filter(e => e.animated === false).size %> Normal and <%= bot.emojis.cache.filter(e => e.animated === true).size %> Animated)</td>
          </tr>
          <tr>
            <td><i class="fa-solid fa-stopwatch"></i> Uptime</td>
            <td><%= uptime %></td>
          </tr>
          <tr>
            <td><i class="fas fa-table-tennis"></i> Ping (Latency)</td>
            <td><%= bot.ws.ping || 0 %>ms</td>
          </tr>
          <tr>
            <td><i class="fa-solid fa-database"></i> Discord.js Version</td>
            <td>v<%= djsVersion %></td>
          </tr>
          <tr>
            <td><i class="fab fa-discord"></i> Database Version</td>
            <td><%= mongoDBVersion %></td>
          </tr>
          <tr>
            <td><i class="fab fa-node"></i> Node.js Version</td>
            <td><%= process.version %></td>
          </tr>
          <tr>
            <td><i class="fas fa-laptop"></i> Usage</td>
            <td>
                <ul>
                    <li>Memory: <%= (process.memoryUsage().rss / 1024 / 1024).toFixed(2) %> MB</li>
                    <li>CPU: <%= (process.cpuUsage().system / 1024 / 1024).toFixed(2) %>%</li>
                    <li>Node CPU: <%= (process.cpuUsage().user / 1024 / 1024).toFixed(2) %>%</li>
                </ul>
            </td>
          </tr>                                   
      </tbody>
  </table>
  </center>
</div>

<%- include("partials/footer") %>